<%= form_for(@parser) do |f| %>
  <% if @parser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parser.errors.count, "error") %> prohibited this parser from being saved:</h2>

      <ul>
      <% @parser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :h1 %><br>
    <%= f.text_field :h1 %>
  </div>
  <div class="field">
    <%= f.label :h2 %><br>
    <%= f.text_field :h2 %>
  </div>
  <div class="field">
    <%= f.label :h3 %><br>
    <%= f.text_field :h3 %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
