<p id="notice"><%= notice %></p>

<h1>Listing Parsers</h1>

<table>
  <thead>
    <tr>
      <th>H1</th>
      <th>H2</th>
      <th>H3</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parsers.each do |parser| %>
      <tr>
        <td><%= parser.h1 %></td>
        <td><%= parser.h2 %></td>
        <td><%= parser.h3 %></td>
        <td><%= parser.link %></td>
        <td><%= link_to 'Show', parser %></td>
        <td><%= link_to 'Edit', edit_parser_path(parser) %></td>
        <td><%= link_to 'Destroy', parser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parser', new_parser_path %>
