<p id="notice"><%= notice %></p>

<p>
  <strong>H1:</strong>
  <%= @parser.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @parser.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @parser.h3 %>
</p>

<p>
  <strong>Link:</strong>
  <%= @parser.link %>
</p>

<%= link_to 'Edit', edit_parser_path(@parser) %> |
<%= link_to 'Back', parsers_path %>
